{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>満空</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href=" {% static '/css/style.css' %}">
	<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

	{%  include 'navbar.html' %}

	{% if messages %}
	<div class="container mt-3">
		{% for message in messages %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="main-container">
    	{% block content %}
        <!--all the html page is here
		 -->
		{% endblock %}
	</div>

	
</body>

<footer class="footer">
	<p>Copyright©2024 TOKAIGIKEN Co., Ltd All Rights Reserved</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
	setTimeout(function() {
		var alert = document.querySelector('.alert');
		if (alert) {
			alert.style.transition = 'opacity 0.5s ease';
			alert.style.opacity = '0';
			setTimeout(function() { alert.remove(); }, 500);
		}
	}, 5000); // Adjust the timeout as needed
</script>
</html>